/**
 * Rewards Page Styles
 */

/* Import Reward S3ub-Styles */
@import '../components/rewards/animations.css';
@import '../components/rewards/carousel.css';
@import '../components/rewards/cards.css';